@tailwind base;
@tailwind components;
@tailwind utilities;

/* Toggle B */
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: grey;
}
/* #nav-home:active,
#nav-projects:active,
#nav-github:active,
#nav-contact:active,
#nav-footer:active {
  background-color: #1c1c1e;
  border-radius: 30px;
  transition: 0.3s;
  color: #ffffff;
} */
canvas {
  background-color: rgba(23, 23, 23, 0);
}
html,
body {
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.container {
  background-image: url('https://interactive-examples.mdn.mozilla.net/media/examples/firefox-logo.svg');
  background-repeat: no-repeat;
}

#effet {
  mix-blend-mode: difference;
}
.full-width-image {
  height: 250px;
  width: 250px;
  top: 0;
  left: 0;
}

.image-text {
  margin: auto;
  padding-top: 5px;
}

.full-screen {
  flex-direction: column;
  margin: 1rem 1rem 0 0.5rem;
  top: 0;
  width: stretch;
}

.centered {
  text-align: center;
  margin: auto;
}

.background {
  background-image: url('/bgnd.png');
  background-size: cover;
}
